<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9283a064-c96f-4ed7-9385-c5ceb2f33e4e/resourceGroups/FantasySportsTeamManagementRG/providers/Microsoft.Web/sites/performance-tracking-service</ResourceId>
    <ResourceGroup>FantasySportsTeamManagementRG</ResourceGroup>
    <ApiResourceId>/subscriptions/9283a064-c96f-4ed7-9385-c5ceb2f33e4e/resourceGroups/FantasySportsTeamManagementRG/providers/Microsoft.ApiManagement/service/SportTeamManagmentapi/apis/PerformanceTrackingService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://performance-tracking-service.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>18e5197c-179d-4400-b48e-1cfbab816dee</ProjectGuid>
    <MSDeployServiceURL>performance-tracking-service.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>performance-tracking-service</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$performance-tracking-service</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>